#nombreMed,#sustanciaAct{
  border: none;
  border-bottom: 1px solid black;
}
#agregar{
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  border-radius: 10px;
  background: #83C5BE;
}
#editar{
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  border-radius: 10px;
  background: #FFDDD2;
}
#eliminar{
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  border-radius: 10px;
  background: #E29578;
}
